*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
body{
    background-color: black;
}
.header{
    background-color: rgb(23, 21, 21);
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 40px;
    background-color: aliceblue;
}

.header ul{
    display: flex;
}
.header ul li{
    padding: 19px 20px;
    list-style: none;
  
}
.header ul li a{
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s all ease-in;
}
.header ul li:first-child a{
    color: chartreuse;
}

.header ul li a:hover{
    color: rgb(53, 225, 10);
    transition: 0.3s all;
}
.fa-solid{
    color: rgb(67, 246, 246);
}
.fa-solid:hover{
    color: rgb(53, 255, 10);
}
.header ul li a i{
    font-size: 17px;
}

.swiper{ 
    margin-top: 45px;
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    
    width: 100%;
    height: 550px;
    border-radius: 20px 0 20px 0;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: rgb(10, 12, 137);
}